*{margin: 0; padding: 0;  box-sizing: border-box;}

body {
    background-color: rgb(114, 114, 114);
}

img {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header {
    width: 84%;
    border-radius: 20px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 150px 0;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo para os itens de menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    width: calc(33.33% - 20px);
    border: 1px solid rgb(55, 0, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 #26386e;
    background-color:#e9e9e9;
}
.card h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.card img {
    max-width: 100%;
    height: auto;
}
.card p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


.container-titulo {
    background-color: #e9e9e9;
    width: 84%;
    height: 215px;
    margin: 0 152px;
    border-radius: 20px;
    margin-top: 10px;
    border: solid 1px rgb(55, 0, 255);
}

h1 {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #26386e;
}

 
p {
    margin: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container-titulo-historia {
    background-color: #e9e9e9;
    width: 84%;
    height: 50%px;
    margin: 0 152px;
    border-radius: 20px;
    margin-top: 10px;
    border: solid 1px rgb(55, 0, 255);
}

.container-titulo-comp {
    background-color: #e9e9e9;
    text-align: center;
    display: inline-block;
    width: 84%;
    height: 52%;
    margin: 0 152px;
    border-radius: 20px;
    margin-top: 10px;
    border: solid 1px rgb(55, 0, 255);
    padding-left: 20px;
}

